<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TactsuitAlyx.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <TactsuitAlyx.Properties.Settings>
            <setting name="intensityMultiplierDefaultHead" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedHead" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierGunHead" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedBloater" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedHeadcrab" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedHeadcrabArmored" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedHeadcrabBlack" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedHeadcrabFast" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedHeadcrabRunner" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedFastZombie" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedPoisonZombie" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedZombie" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedZombieBlind" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedZombine" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedAntlion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedAntlionGuard" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierUnarmedManhack" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierGrabbedByBarnacle" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierConcussionGrenade" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierBugBaitGrenade" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierFragGrenade" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierSpyGrenade" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierHandGrenade" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierRollerGrenade" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierRollerMine" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierCombine" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierCombineS" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierCombineGantry" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierMetroPolice" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierSniper" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierStrider" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierTurret" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="intensityMultiplierEnvironmentExplosion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierEnvironmentLaser" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierEnvironmentFire" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierEnvironmentSpark" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierEnvironmentPoison" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierEnvironmentRadiation" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierDamageExplosion" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierDamageLaser" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierDamageFire" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierDamageSpark" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierPlayerShootPistol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierPlayerShootShotgun" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierPlayerShootSMG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierPlayerShootDefault" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierFallbackSMG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierPlayerGrenadeLaunch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierFallbackPistol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierFallbackShotgun" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierKickbackPistol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierKickbackShotgun" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierKickbackSMG" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierHeartBeat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierHeartBeatFast" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierHealthPenUse" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierHealthStationUse" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierHealthStationUseArm" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierBackpackStoreClip" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierBackpackStoreResin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierBackpackRetrieveClip" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierBackpackRetrieveResin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierItemHolderStore" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierItemHolderRemove" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierGravityGloveLockOn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierGravityGlovePull" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierGravityGloveCatch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="intensityMultiplierClipInserted" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierChamberedRound" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierCough" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierCoughHead" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierShockOnHand" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="intensityMultiplierDefault" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sleepDurationHeartBeat" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="sleepDurationHeartBeatFast" serializeAs="String">
                <value>450</value>
            </setting>
            <setting name="sleepDurationHeartBeatTooFast" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="sleepDurationGrabbityLock" serializeAs="String">
                <value>780</value>
            </setting>
            <setting name="sleepDurationBarnacleGrab" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="intensityMultiplierFoliageTurret" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AlyxDirectory" serializeAs="String">
                <value>C:\Steam\steamapps\common\Half-Life Alyx</value>
            </setting>
            <setting name="sleepDurationCoughing" serializeAs="String">
                <value>1500</value>
            </setting>
        </TactsuitAlyx.Properties.Settings>
    </userSettings>
</configuration>
